<!--
############################################################################################
# Template für die Darstellung der Suchresultate. Entweder wird diese Seite direkt         #
# statisch angezeigt, oder die gerenderte Webseite wird mittels Javascript geladen.        #
############################################################################################
-->
<form id="center_search" action="/search" method="GET">
  <input id="center_search_field" type="text" name="query"
         placeholder="Eingabe Suchanfrage" value="<%= query %>">
  <input id="center_search_button" type="submit" value="SUCHEN">
</form>

<ul id="results">
<% results.each do |result, score| %>
  <li>
    <a href="<%= result.url.encoded %>"><%= result.title %></a><br>
    <%= result.url.decoded %>
  </li>
<% end %>
</ul>

<script>
window.onload = function(){
  var canvas = document.getElementById("bg-canvas");
  canvas.width = window.innerWidth;
  canvas.height = window.innerHeight;
  
  window.onresize = function(){
    var canvas = document.getElementById("bg-canvas");
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    drawGrid(canvas, 0);
  }
  
  updatePage(1);
};
</script>

<div id="pagination">
  <% pagination.entries.each do |pagination_entry| %>
    <% if pagination_entry.current? %>
      <a href="<%= pagination_entry.url %>"><b><%= pagination_entry.number %></b></a>
    <% else %>
      <a href="<%= pagination_entry.url %>"><%= pagination_entry.number %></a>
    <% end %>  
  <% end %>
</div>
