<% # TODO: Alle XSS Angriffsstellen-Stellen schliessen... %>
<form action="/search" method="GET">
  <input type="text" name="query" value="<%= query %>">
  <input type="submit" value="Suchen">
</form>
<br>
<i>Abfrage innerhalb <%= duration.round(2) %>s erstellt.</i>
<br>

<ul>
<% results.each do |result, score| %>
  <li>
    <a href="<%= result.url.encoded %>"><%= result.title %></a><br>
    <%= result.url.decoded %><br>
    Score: <%= score %>
  </li>
<% end %>
</ul>
